[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git@github.com:Lokaltog/vim-powerline.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = git@github.com:Shougo/neocomplcache.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "bundle/vim-octopress"]
	path = bundle/vim-octopress
	url = git@github.com:tangledhelix/vim-octopress.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "tags"]
	path = tags
	url = git@github.com:andyque/Cocos2DTags.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
